@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  font-family: "Ubuntu Sans", "Work Sans", "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.2rem;
  color-scheme: light dark;
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  background-repeat: no-repeat;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Track */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b3749; /* Set the color of the scrollbar handle */
  border-radius: 3px; /* Rounded corners for the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8; /* Change the color of the scrollbar handle on hover */
}

.container {
  width: 80px;
  height: 80px;
  perspective: 1000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
}

.side {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.87);
}

.side:nth-child(1) {
  transform: rotateY(0deg) translateZ(40px);
}
.side:nth-child(2) {
  transform: rotateY(90deg) translateZ(40px);
}
.side:nth-child(3) {
  transform: rotateY(180deg) translateZ(40px);
}
.side:nth-child(4) {
  transform: rotateY(-90deg) translateZ(40px);
}
.side:nth-child(5) {
  transform: rotateX(90deg) translateZ(40px);
}
.side:nth-child(6) {
  transform: rotateX(-90deg) translateZ(40px);
}

.side img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.form-container {
  background: linear-gradient(#01000c, #002033) padding-box,
    linear-gradient(145deg, transparent 35%, #38bdf8, #38bdf8) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #10f5a3;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #10f5a3;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
